body {
  background: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  height: 100vh;
}
#game div {
  width: 14%;
  height: 30%;
  background: url("card.jpg"); 
  background-size: cover;
  border: 4px solid red;
}
#game {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
  justify-content: space-between;
}

#restart {
  padding: 10px;
  background:rgb(0, 0, 0);
  color: white;
}